<h3  style="color:skyblue" > <b  style="color:purple"><i>Objective:</i> </b>Select any data table and a variable from the selected data table.  Compute central 
tendencies: arithmetic mean, geometric mean, median and standard deviation for the 
selected variable.</h3>

In [4]:
import pandas as pd 
from scipy.stats import gmean

In [6]:
data = pd.read_csv('BMW sales data (2010-2024).csv')
print(data)

          Model  Year         Region   Color Fuel_Type Transmission  \
0      5 Series  2016           Asia     Red    Petrol       Manual
1            i8  2013  North America     Red    Hybrid    Automatic
2      5 Series  2022  North America    Blue    Petrol    Automatic
3            X3  2024    Middle East    Blue    Petrol    Automatic
4      7 Series  2020  South America   Black    Diesel       Manual
...         ...   ...            ...     ...       ...          ...
49995        i3  2014           Asia     Red    Hybrid       Manual
49996        i3  2023    Middle East  Silver  Electric       Manual
49997  5 Series  2010    Middle East     Red    Petrol    Automatic
49998        i3  2020           Asia   White  Electric    Automatic
49999        X1  2020  North America    Blue    Diesel       Manual

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0                3.5      151748      98740          8300                 High
1                1.6      121671      79219          3428                  Low
2                4.5       10991     113265          6994                  Low
3                1.7       27255      60971          4047                  Low
4                2.1      122131      49898          3080                  Low
...              ...         ...        ...           ...                  ...
49995            4.6      151030      42932          8182                 High
49996            4.2      147396      48714          9816                 High
49997            4.5      174939      46126          8280                 High
49998            3.8        3379      58566          9486                 High
49999            3.3      171003      77492          1764                  Low

[50000 rows x 11 columns]

In [ ]:
# check each col is fill or not
data.isna().sum()

Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

In [5]:
central_tendencies = {
    'Mean': data[['Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume']].mean(),
    'Median': data[['Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume']].median(),
    'Mode': data[['Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume']].mode().iloc[0],
    'STD': data[['Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume']].std(),
    'GMean': gmean(data[['Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume']])
}
pd.DataFrame(central_tendencies)

                       Mean    Median      Mode           STD         GMean
Engine_Size_L       3.24718       3.2       3.8      1.009078      3.078919
Mileage_KM     100307.20314  100388.5  136842.0  57941.509344  73677.055215
Price_USD       75034.60090   75011.5   30948.0  25998.248882  70106.925958
Sales_Volume     5067.51468    5087.0    9502.0   2856.767125   3870.396265

In [8]:
print("Mean of data:");
data[['Engine_Size_L', 'Mileage_KM', 'Price_USD']].mean()

Mean of data:

Engine_Size_L         3.24718
Mileage_KM       100307.20314
Price_USD         75034.60090
dtype: float64

In [9]:
print("Mode of data:");
data[['Engine_Size_L', 'Mileage_KM', 'Price_USD']].mode().iloc[0]

Mode of data:

Engine_Size_L         3.8
Mileage_KM       136842.0
Price_USD         30948.0
Name: 0, dtype: float64

In [10]:
print("Standard Deviation")
data[['Engine_Size_L', 'Mileage_KM', 'Price_USD']].std()

Standard Deviation

Engine_Size_L        1.009078
Mileage_KM       57941.509344
Price_USD        25998.248882
dtype: float64

In [11]:
print("Geometric Mean")
gmean(data[['Engine_Size_L', 'Mileage_KM', 'Price_USD']])

Geometric Mean

array([3.07891926e+00, 7.36770552e+04, 7.01069260e+04])

| Statistical Measure | Status | Completion |
|---------------------|--------|------------|
| Arithmetic Mean     | ✅     | Completed  |
| Geometric Mean      | ✅     | Completed  |
| Median              | ✅     | Completed  |
| Standard Deviation  | ✅     | Completed  |